<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.opinius">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TambahSurveyActivity"
            android:label="Tambah Survey"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TambahPertanyaan"
            android:label="Tambah Pertanyaan"
            android:parentActivityName=".TambahSurveyActivity" />
        <activity
            android:name=".TipeJawabActivity"
            android:parentActivityName=".TambahPertanyaan"
            android:label="Tipe Pertanyaan"/>
        <activity android:name=".questionForm.FormIsianActivity" />
        <activity android:name=".questionForm.FormSatuJawabanActivity" />
        <activity android:name=".questionForm.FormBanyakJawabanActivity" />
        <activity
            android:name=".SurveyTerjawabActivity"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>