<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.opinius">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.QuestionList"
            android:label="Questions List"
            android:parentActivityName=".view.MainActivity" />

        <activity
            android:name=".view.questionForm.FormShortAnswerActivity"
            android:label="Short Answer"
            android:parentActivityName=".view.QuestionList"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.questionForm.FormSingleAnswerActivity"
            android:label="Single Choice"
            android:parentActivityName=".view.QuestionList"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.questionForm.FormMultipleAnswerActivity"
            android:label="Multiple Choice"
            android:parentActivityName=".view.QuestionList"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".view.ViewSurveyActivity"
            android:label="View Survey"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.FillSurvey"
            android:label="Fill Survey"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.ViewFullSurvey"
            android:label="View Survey Result"
            android:parentActivityName=".view.ViewSurveyActivity" />
    </application>

</manifest>