<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.opinius">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.QuestionList"
            android:label="List Pertanyaan"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.questionForm.FormShortAnswerActivity"
            android:label="Isian Singkat"
            android:parentActivityName=".view.QuestionList" />
        <activity
            android:name=".view.questionForm.FormSingleAnswerActivity"
            android:label="Pilih Satu"
            android:parentActivityName=".view.QuestionList" />
        <activity
            android:name=".view.questionForm.FormMultipleAnswerActivity"
            android:label="Pilih Banyak"
            android:parentActivityName=".view.QuestionList" />
        <activity
            android:name=".view.ViewSurveyActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.FillSurvey"></activity>
    </application>

</manifest>